.header {
    background-color: #FFAC00;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: left;
    font-weight: 900;
}

body {
    background-color: black;
  }

  h2 {
    background-color: #353535;
    color: #FFAC00;
    text-align: center;
  }
  p {
    color: #FFAC00;
  }

  h1{
    color: black;
    font-family:'Times New Roman';
  }

  #menu {
    display: inline;
    float: right;
    padding: 0.5% 0 0 0;
    width: 270px;
  }

  #menu li {
    display: inline;
    padding-left: 5%;
  }

  #menu li:first-child {padding-left: 0;}

  .pag {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  .pag:hover {color: white;}


  #image
  {
    text-align: center;
    padding: 5%;
  }
  #right
  {
    text-align: right;
    padding: 1%;
  }

  li{
    color: #FFAC00;
  }
  #footer{
    color: white;
    
  }
  #Btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FFAC00;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }

  #Btn:hover {
    background-color: #555;
  }